$font1: 'Poppins', sans-serif;
$font2: 'Rubik', sans-serif;
$font3: 'Spartan', sans-serif;

$max-width: 1100px;

$nav-bar-height: 50px;

$shadow: 9px 5px 15px -5px rgba(0, 0, 0, 0.82);
    

$custom-black: #0D0D0D;
$custom-white:white;
$hover-color:rgba(0, 0, 0, 0.808);


$mq-small:765px;
$mq-medium:1023px;

