@import "variables";
@import "reset";
@import "typography";
@import "about";
@import "projects";
@import "singleProject";
@import "footer";

body {
  background-color: $custom-white;
  position: relative;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: transparent;
  width: 100%;
  height: $nav-bar-height;
  display: flex;
  justify-content: space-between;
  background-color: $custom-white;
  padding: 0 $padding-page;
  -webkit-box-shadow: 9px 5px 15px -2px rgba(0, 0, 0, 0.82);
  box-shadow: 9px 5px 15px -5px rgba(0, 0, 0, 0.82);
  transition: transform .5s ease-out;
}
//applied in the about page
.nav-white-bg {
  background-color: $custom-white;
}
.hide-nav {
  transform: translateY(-100%);
}
.mobile-menu {
  display: none;
}
.title {
  line-height: 1rem;
  text-align: left;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
position: relative;
  &:after {
    content: '';
    position: absolute;
  width: 2px;
  height: 40px;
  top: 3px;
  left: -5px;
  background: $custom-black;
  }

  &:hover{
    color: $hover-color;

  }
}
.nav-list {
  position: relative;
  left: -3%;
  display: flex;
  align-items: center;
  li {
    position: relative;
    font-size: 2rem;
    list-style: none;
    text-transform: capitalize;
    padding: 0 2rem;
    &:hover {
          color: $hover-color

    }
  }
  li:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    // height: 2px;
    width: 100%;
    height: 0.1em;
    background-color: $hover-color;
    opacity: 0;
    transition: opacity 400ms, transform 400ms;
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }

  a:hover::after,
  a:focus::after {

    transform: scale(.8);
  }

  li:hover::after {
        

    transform: scale(.8);
  }
}
.nav-icon-container {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 2rem;
}
.nav-icon {
  font-size: 2.2rem;
  margin: 0 1rem; 
  
  &:hover{
    color: $hover-color;

  }
}
.burger-icon {
  display: none !important;
}

.img-carousel {
  width: 100vw;
  // height: 100vh;
  max-height: 100vh;
}
.main-container {
  width: 100%;
  background-color: $custom-white;
  // background-color: #3084a33f;
  padding: $padding-page;


  h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: $padding-page;
  }
}


.images-row{
  width: 100%;
  // min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: $padding-page;

  img {
    z-index: 10;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    box-shadow: $shadow;
    transition: box-shadow .5s ease-in-out;
    //FOR FADE-IN ANIMATION
    opacity: 0;


    &:hover {
      
box-shadow: 9px 5px 15px 4px rgba(0,0,0,0.82);
    }
  }
}
.full-width{
  justify-content: center;
}
.opposite{
  flex-direction: row-reverse;
}
.images-vertical {
  width: 48.5%;
  height: 50%;
// background-color: blue;
}
.images-horizontal {
width: 48.5%;
min-height: 1vh;

display: grid;
// grid-template-rows: 1fr 1fr;  
grid-gap: $padding-page;

}


.right-click-menu {
  position: fixed;
  width: 300px;
  // height: 130px;
  padding: 2rem;
  background-color: #ffffff;
  visibility: hidden;
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  z-index: 999;
  
  p {
    margin-bottom: 1rem;
  }
 
}
.btn-menu-container{
  display: flex;
  justify-content: space-around;
}

.fadein-animation {
  animation: fadein 1s linear forwards;
}
@keyframes fadein {
  to {
    opacity: 1;
  }
}

@media (max-width: $mq-small) {
  .nav {
    background-color: $custom-white;
    padding: 0 1rem;
    
  }
  .nav-list {
    display: none;
    
  }

  .nav-icon {
    display: none !important;
  }
  .burger-icon {
    font-size: 2.5rem;
    display: inline-block !important;
    z-index: 999;
  }
  .mobile-menu {
    position: fixed;
    // display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    top: $nav-bar-height;
    opacity: 0;
    z-index: 1000;
    padding-bottom: 25rem;

    ul {
      width: 100%;
    }
    li {
      margin-bottom: 1.5rem;
    }
  }
  .mobile-icon-container {
    width: 100%;
    display: flex;
    justify-content: center;
    .icon {
      opacity: 0;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3rem;
      margin-right: 1.5rem;
    }
  }
  .mobile-list {
    color: white;
    font-size: 3rem;
    margin-top: 5rem;
    padding-left: 1rem;
    text-align: center;

    .mobile-link {
      opacity: 0;
      margin-bottom: 2rem;
      text-transform: uppercase;
    }
  }
  .disable-scrolling {
    overflow: hidden;
  }

  .main-container{
    padding: 1rem;
  }

}

@media (max-width: 500px) {
.images-horizontal {
  gap: 2rem;
}
  .images-vertical {
    height: 300px;
    img {
      height: 300px !important;
    }
  }
}
