@import "variables";
@import "reset";
@import "typography";
@import "about";
@import "projects";
@import "singleProject";
@import "footer";

body {
  background-color: $custom-white;
  position: relative;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: transparent;
  width: 100%;
  height: $nav-bar-height;
  display: flex;
  justify-content: space-between;
  // border-bottom: 1px solid black;
  background-color: $custom-white;
  padding: 0 5rem;
  -webkit-box-shadow: 9px 5px 15px -2px rgba(0, 0, 0, 0.82);
  box-shadow: 9px 5px 15px -5px rgba(0, 0, 0, 0.82);
  transition: transform .5s ease-out;
}
//applied in the about page
.nav-white-bg {
  background-color: $custom-white;
}
.hide-nav {
  transform: translateY(-100%);
}
.mobile-menu {
  display: none;
}
.title {
  line-height: 1rem;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover{
    color: $hover-color;

  }
}
.nav-list {
  position: relative;
  left: -3%;
  display: flex;
  align-items: center;
  li {
    position: relative;
    font-size: 2rem;
    list-style: none;
    text-transform: uppercase;
    padding: 0 2rem;
    &:hover {
          color: $hover-color

    }
  }
  li:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    // height: 2px;
    width: 100%;
    height: 0.1em;
    background-color: $hover-color;
    opacity: 0;
    transition: opacity 400ms, transform 400ms;
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }

  a:hover::after,
  a:focus::after {

    transform: scale(.8);
  }

  li:hover::after {
        

    transform: scale(.8);
  }
}
.nav-icon {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 2rem;
}
.burger-icon {
  display: none !important;
}

.img-carousel {
  width: 100%;
  height: 100vh;
}
.splide__arrow {
  display: none !important;
}

.prova {
  width: 100%;
  background-color: $custom-white;
  // background-color: #3084a33f;
  padding: 5rem;


  h1 {
    text-align: center;
    text-transform: uppercase;
  }
}

.flex-container {
  display: flex;
}
.left-column,
.right-column {
  width: 50%;
  // padding: 6.5rem;
  img {
    // margin: auto;
    width: 100%;
    max-width: 100%;
    margin-bottom: 5rem;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    -webkit-box-shadow: 9px 5px 15px -2px rgba(0, 0, 0, 0.82);
    box-shadow: 9px 5px 15px -5px rgba(0, 0, 0, 0.82);
    transition: box-shadow .5s ease-in-out;
    //FOR FADE-IN ANIMATION
    opacity: 0;

    &:hover {
      
-webkit-box-shadow: 9px 5px 15px 6px rgba(0,0,0,0.82); 
box-shadow: 9px 5px 15px 6px rgba(0,0,0,0.82);
    }
  }
}


.left-column {
  padding-right: 60px;
}
.right-column {
  padding-left: 60px;
}

.right-click-menu {
  position: fixed;
  width: 300px;
  // height: 130px;
  padding: 2rem;
  background-color: #ffffff;
  visibility: hidden;
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  
  p {
    margin-bottom: 1rem;
  }
 
}
.btn-menu-container{
  display: flex;
  justify-content: space-around;
}

.fadein-animation {
  animation: fadein 1s linear forwards;
}
@keyframes fadein {
  to {
    opacity: 1;
  }
}

@media (max-width: $mq-small) {
  .nav {
    background-color: $custom-white;
  }
  .nav-list {
    display: none;
  }
  .shop-icon {
    display: none !important;
  }
  .burger-icon {
    display: block !important;
    z-index: 999;
  }
  .mobile-menu {
    position: fixed;
    // display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    top: $nav-bar-height;
    opacity: 0;
    z-index: 1000;
    padding-bottom: 25rem;

    ul {
      width: 100%;
    }
    li {
      margin-bottom: 1.5rem;
    }
  }
  .mobile-icon-container {
    width: 100%;
    display: flex;
    justify-content: center;
    .icon {
      opacity: 0;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3rem;
      margin-right: 1.5rem;
    }
  }
  .mobile-list {
    color: white;
    font-size: 3rem;
    margin-top: 5rem;
    padding-left: 1rem;
    text-align: center;

    .mobile-link {
      opacity: 0;
      margin-bottom: 2rem;
      text-transform: uppercase;
    }
  }
  .disable-scrolling {
    overflow: hidden;
  }
}
